/* Header Styles */
.nav-bar {
    width: 100vw;
    height: var(--nav-bar-height);
    background-color: white;
    padding-top: var(--general-padding);
}

.left {
    padding-left: var(--nav-bar-horizontal-offset);
}

nav ul {
    padding-right: var(--nav-bar-horizontal-offset);
}

nav ul li {
    padding-left: var(--general-padding);
    font-weight: bold;
}

.brand {
    font-size: 40px;
    font-weight: 700;
}

/* Hero Section */

.hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("../media/banner.jpg");
    height: 72vh;
    background-repeat: no-repeat;
    background-size: covers;
    
}

.hero-top {
    padding-top: 10vh;
}

.hero-top .dot-3 {
    width: 10px;
    height: 38px;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.hero-top > i {
    color: var(--green-front);
    background-color: white;
    border-radius: 80px;
    margin-top: 1vw;
    border: 1px solid var(--green-front);
}




.punch-section {
    background-color: var(--punch-shade-bg);
}

.punch header {
    margin-top: 5vh;
    margin-bottom: 3vh;
}


.punch p {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vh;
    font-weight: 100;
    line-height: 1.5em;
}

.punch button {
    margin-bottom: 5vh;
}

.continue-explore-button {
    width: 10vw;
}

.portfolio-container {
    background-color: white;
}


.portfolio-right-card-container {
    position: relative;
    left: -130px;
}



.portfolio-right-card-container-left {
    position: relative;
    left: +130px;
}


.portfolio-right-card {
    background-color: var(--green-front);
    padding: 2.5vh;
}

.left-card {
    background-color: var(--pink-front);
}

.portfolio-right-card > h6 {
    padding-bottom: 1.5vh;
    color: white;
}

.portfolio-right-card > p {
    padding-bottom: 1.5vh;
    line-height: 1.5em;
    color: white;
}

.portfolio-right-card button {
    padding-left: 2vw;
    padding-right: 2vw;
}

.asia-pink {
    background-color: var(--pink-front);
}



/* Hotel Card */


.hotel-mid {
    padding-left: 2vw;
}

.hotel-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 1vh;
}

.hotel-place {
    padding-bottom: 1vh;
}

.hotel-desc {
    font-weight: 100;
    font-size: 15px;
    width: 80%;
}

.hotel-end {
    background: var(--green-front) url("../media/button-curve.png");
    background-repeat: no-repeat;
    height: 180px;
    text-align: center;
    padding: 40px 0px 0px 10px ;
    font-weight: 600;
    
}

.hotel-end > .price{
    font-size: 30px;
    padding-bottom: 40px;
}

.hotel-card {
    border: 1px solid rgba(216, 215, 215, 0.5);
    margin-bottom: 30px;
}
